---
root: true
extends: "eslint:recommended"
env:
  node: true
  es6: true
  browser: true
plugins:
  - react
parserOptions:
  sourceType: module
  ecmaFeatures:
    jsx: true
rules:
  react/jsx-uses-vars: 2
  no-console: 0
