---
extends: "eslint:recommended"
env:
  node: true
  es6: true
rules:
  semi: 2
  no-console: 0
  max-len:
    - 1
    - code: 80
      ignoreComments: true
      ignoreTrailingComments: true
  comma-dangle:
    - 1
    - always-multiline
  quotes:
    - 1
    - single
